	hr.soften {
 background: #ddd;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 0 0 1.4em;
  border: none;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
    margin-top: 14%;
}

.redP{
	color: red;
}